<!--<app-list></app-list>-->
<!--<br><br>-->
<!--<hr>-->
<!--<br>-->
<!--<app-customer></app-customer>-->
<!--<br><br>-->
<!--<hr>-->
<!--<br>-->
<!--<app-ng-for></app-ng-for>-->
<!--<br><br>-->
<!--<hr>-->
<!--<br>-->
<!--<app-ng-switch></app-ng-switch>-->
<!--<br><br>-->
<!--<hr>-->
<!--<br>-->
<!--<app-ng-if></app-ng-if>-->
<!--<br><br>-->
<!--<hr>-->
<!--<br>-->
<!--<app-ng-class></app-ng-class>-->
<!--<br><br>-->
<!--<hr>-->
<!--<br>-->
<!--<app-ng-style></app-ng-style>-->
<!--<br><br>-->
<!--<hr>-->
<!--<br>-->
<!--<app-custom-directive></app-custom-directive>-->
<!--<br><br>-->
<!--<hr>-->
<!--<br>-->
<!--<app-pipes></app-pipes>-->

<app-upload-img></app-upload-img>
