html {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
@media (max-width: 800px) {
  .table thead {
    display: none;
  }
  .table, .table tbody, .table tr, .table td {
    display: block;
    width: 100%;
  }
  .table tr {
    margin-bottom: 15px;
  }
  .table th {
    background-color:#567FEA ;
  }
  .table td {
    text-align: right;
    padding-left: 50%;
    text-align: right;
    position: relative;
  }
  .table td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
  }
}
fieldset.scheduler-border{
  border: 1px groove #ddd !important;
  padding: 0 1.4em 1.4em !important;
  margin: 0 0 1.5em 0 !important;
  -webkit-box-shadow:0px 0px 0px 0px #000 ;
  box-shadow: 0px 0px 0px 0px #000;
}
legend.scheduler-border{
  font-size: 28px !important;
  font-weight: bold !important;
  text-align: left !important;
  width: inherit;
  padding: 0 10px;
  border-bottom: none;
}
html, body {
  max-width: 100%;
  max-height: 100%;
  overflow-x: hidden;
}
body {
  font-size: 16px;
}
input{
  height: 33px;
}
table {
  border: 1px black;
}

select {
  border: 1px solid ;
  border-radius: 4px;
}
label {
  min-width: 75px;
  justify-content: flex-end;
}
textarea {
  border: 1px solid #2FC1A6;
  border-radius: 4px;
  width: 300px;
  height: 75px;
}
body::-webkit-scrollbar {
  width: 12px;
}
body::-webkit-scrollbar-track {
  background: white;
}
body::-webkit-scrollbar-thumb {
  background-color: #567FEA;
  border-radius: 20px;
  border: 3px solid white;
}
.scroll::-webkit-scrollbar {
  width: 12px;
}
.scroll::-webkit-scrollbar-track {
  background: white;
}
.scroll::-webkit-scrollbar-thumb {
  background-color: #567FEA;
  border-radius: 20px;
  border: 3px solid white;
}
.scroll {
  height: 300px;
  overflow: auto;
}
#content {
  box-shadow: 3px 3px 3px 3px #5f6062;
}
fieldset.scheduler-border {
  border: 1px groove !important;
  padding: 0 1.4em 1.4em 1.4em !important;
  margin: 0 0 1.5em 0 !important;
  -webkit-box-shadow: 0px 0px 0px 0px #000;
  box-shadow:  0px 0px 0px 0px #000;
}
legend.scheduler-border {
  font-size: 28px !important;
  font-weight: normal !important;
  text-align: left !important;
  width: inherit;
  padding: 0 15px;
  border-bottom: none;
}
.outer th{
  text-align: left;
  top: 0;
  position: sticky;
  background-color: #567FEA;
}
.button:hover {
  color: white;
}
.width{
  width: 200px;
  height: 30px;
}
.highlight {
  background: yellow;
}
.width1{
  width: 210px;
  height: 35px;
}
