<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Danh sách hóa đơn nhập kho</title>
</head>
<body>
<h1 class="my-4 text-center">Danh sách hóa đơn nhập kho</h1>

<div class="container">
  <fieldset class="scheduler-border">
    <legend class="scheduler-border">Bộ lọc</legend>
    <form [formGroup]="searchForm" (ngSubmit)="search()">
      <div class="row d-flex justify-content-around">

        <div class="col-2">
          <label class="mt-2">Từ ngày</label>
          <input formControlName="startDate" class="form-control border-dark border-1" type="date">
        </div>

        <div class="col-2">
          <label class="mt-2">Đến ngày</label>
          <input formControlName="endDate" class="form-control border-dark border-1" type="date">
        </div>

        <div class="col-2">
          <label class="mt-2">Từ giờ</label>
          <input formControlName="startTime" class="form-control border-dark border-1" type="time">
        </div>

        <div class="col-2">
          <label class="mt-2">Đến giờ</label>
          <input formControlName="endTime" class="form-control border-dark border-1" type="time">
        </div>

        <div class="col-2">
          <label class="mt-2">Sắp xếp theo</label>
          <select formControlName="fieldSort" class="form-control border-dark border-1 width" style="height: 34px">
            <option value="import_invoice_id">Vui lòng chọn</option>
            <option value="import_invoice_id">Mã HD</option>
            <option value="import_system_code">Số CT</option>
            <option value="import_invoice_hour">Giờ lập</option>
            <option value="total">Tổng tiền</option>
            <option value="payment_prepayment">Nợ hóa đơn</option>
            <option value="supplier_id">Nhà cung cấp</option>
          </select>
        </div>

        <div class="col-2" style="top: 38px; padding-left: 40px;">
          <button type="submit" class="btn btn-primary"><i class="fa-solid fa-magnifying-glass"></i> Lọc KQ
          </button>
        </div>
      </div>
    </form>
  </fieldset>


  <fieldset class="scheduler-border ">
    <legend class="scheduler-border">Danh sách hóa đơn</legend>
    <div class="container pt-4 pb-5">
      <div class="card-body">
        <table class="table text-center">
          <!--        <table class="table table-striped text-center">-->
          <thead class="table-success">
          <tr>
            <th scope="col">Mã HĐ</th>
            <th scope="col">Số CT</th>
            <th scope="col">Ngày lập</th>
            <th scope="col">Giờ lập</th>
            <th scope="col" style="width: 162px;">Tổng tiền (VND)</th>
            <th scope="col" style="width: 124px;">Nợ hóa đơn</th>
            <th scope="col">Nhà cung cấp</th>
            <th scope="col">Địa chỉ</th>
          </tr>
          </thead>
          <tbody *ngIf="importInvoiceList != null">
          <tr *ngFor="let import_invoice of importInvoiceList index as i"
              (click)="hightlight(import_invoice.importInvoiceId, i)" [class.highlight]="import_invoice.complete">
            <td>{{import_invoice.importInvoiceId}}</td>
            <td>{{import_invoice.importSystemCode}}</td>
            <td>{{import_invoice.importInvoiceDate}}</td>
            <td>{{import_invoice.importInvoiceHour}}</td>
            <td>{{import_invoice.total}}</td>
            <td>{{import_invoice.paymentPrepayment}}</td>
            <td>{{import_invoice.supplier.supplierName}}</td>
            <td>{{import_invoice.supplier.supplierAddress}}</td>
          </tr>
          </tbody>
          <tbody *ngIf="importInvoiceList === null">
          <td>không tìm thấy bất kỳ thông tin nào</td>
          </tbody>
        </table>
      </div>


      <nav class="blog-pagination d-flex justify-content-center py-3">
        <ul class="pagination">
          <li class="page-item px-1">
            <a (click)="previousPage()" [class.disabled]="currentPage<=0" class="page-link">Previous</a>
          </li>
          <li class="page-item">
            <a class="page-link">
              <span>{{currentPage + 1}}</span>
              <span>/</span>
              <span>{{totalPages}}</span>
            </a>
          </li>
          <li class="page-item px-1">
            <a class="page-link" (click)="nextPage()" [class.disabled]="currentPage+1>=totalPages">Next</a>
          </li>
        </ul>
      </nav>
      <!--      <div class="d-flex justify-content-end mr-4 mb-4">-->
      <!--        <nav aria-label="Page navigation example">-->
      <!--          <ul class="pagination">-->
      <!--            <li class="page-item"><a class="page-link" href="#">Trước</a></li>-->
      <!--            <li class="page-item"><a class="page-link" href="#">1</a></li>-->
      <!--            <li class="page-item"><a class="page-link" href="#">2</a></li>-->
      <!--            <li class="page-item"><a class="page-link" href="#">3</a></li>-->
      <!--            <li class="page-item"><a class="page-link" href="#">Sau</a></li>-->
      <!--          </ul>-->
      <!--        </nav>-->
      <!--      </div>-->


      <div class="d-flex justify-content-end">
        <button class="mr-4 btn btn-success button"
                type="submit"><i class="fa fa-plus" aria-hidden="true"></i> Thêm
        </button>
        <button type="button" class="btn btn-danger mr-4" data-toggle="modal" data-target="#staticBackdrop">
          <i class="fa fa-trash-o"></i> Xóa hóa đơn
        </button>
        <button class="mr-4 btn btn-secondary button" type="button"><i class="icon-sidebar fa fa-reply"></i>
          Trở về
        </button>
      </div>
    </div>
  </fieldset>
</div>


<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Xóa hóa đơn</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Bạn có muốn xóa hóa đơn này <span class="text-danger">{{idDelete}}</span>.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="delete(idDelete)">Xóa</button>
      </div>
    </div>
  </div>
</div>


</body>
</html>
