<div class="container sticky-top">
  <div class="row bg-light pe-5">
    <div class="col-2"></div>
    <div class="col-8">
      <nav class="navbar navbar-light bg-light text-center">
        <span class="container">
          <a class="navbar-brand" href="/">
              <img src="https://i.pinimg.com/originals/59/10/ae/5910ae148dc0784a7fdb05bc2ad9ebbc.gif"
                   width="30" height="30">
          </a>
          <a class="navbar-brand h5" href="#">Home</a>
          <a class="navbar-brand h5" href="#">List</a>
          <a class="navbar-brand h5" href="#">Create</a>
          <a class="navbar-brand h5" href="#">Edit</a>
          <a class="navbar-brand h5" href="#">Delete</a>
        </span>
      </nav>
    </div>
    <div class="col-1"></div>
  </div>
</div>
