<div class="popular_places_area">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="section_title text-center mb_70">
          <h3>TẠO KHÁCH HÀNG</h3>
          <p>Suffered alteration in some form, by injected humour or good day randomised booth anim 8-bit hella wolf moon beard words.</p>
        </div>
      </div>
    </div>


    <div class="px-5 row">
      <div class="col-2"></div>
      <div class="col-8">
        <form class="was-validated" action="/customer/save" method="post">
          <!--                <div class="input-group mb-3">-->
          <!--                    <span class="input-group-text" id="inputGroup-sizing-default11">Code</span>-->
          <!--                    <input type="text" th:field="*{customerCode}" class="form-control" aria-label="Sizing example input"-->
          <!--                           aria-describedby="inputGroup-sizing-default11" required>-->
          <!--                    <span class="input-group-text text-danger" th:if="${#fields.hasErrors('customerCode')}"-->
          <!--                                              th:errors="*{customerCode}"></span>-->
          <!--                </div>-->
          <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default0">Tên</span>
            <input type="text" class="form-control" aria-label="Sizing example input"
                   aria-describedby="inputGroup-sizing-default0" required>
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default1">Ngày sinh</span>
            <input type="date" class="form-control" aria-label="Sizing example input"
                   aria-describedby="inputGroup-sizing-default1" required>
          </div>
          <div class="input-group mb-3">
            <label for="exampleDataList" class="form-label"><span class="input-group-text">Giới tính</span></label>
            <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Gõ để tìm..." required>
            <datalist id="datalistOptions">
              <option value="Nữ" text="Nữ"></option>
              <option value="Nam" text="Nam"></option>
            </datalist>
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default3">CMND</span>
            <input type="text" class="form-control" aria-label="Sizing example input"
                   aria-describedby="inputGroup-sizing-default3" required>
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default4">Số ĐT</span>
            <input type="text" class="form-control" aria-label="Sizing example input"
                   aria-describedby="inputGroup-sizing-default4" required>
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default6">Email</span>
            <input type="text" class="form-control" aria-label="Sizing example input"
                   aria-describedby="inputGroup-sizing-default6" required>
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default7">Địa chỉ</span>
            <input type="text" class="form-control" aria-label="Sizing example input"
                   aria-describedby="inputGroup-sizing-default7" required>
          </div>
          <div class="input-group mb-3">
            <label for="exampleDataList1" class="form-label"><span class="input-group-text">Loại khách</span></label>
            <input class="form-control" list="datalistOptions1" id="exampleDataList1" placeholder="Gõ để tìm..." required>
            <datalist id="datalistOptions1">
              <option value="San Francisco">
              <option value="New York">
              <option value="Seattle">
              <option value="Los Angeles">
              <option value="Chicago">
            </datalist>
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-primary position-relative">
              Tạo khách hàng
              <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
                    <span class="visually-hidden">New alerts</span>
                    </span>
            </button>
          </div>
        </form>
      </div>
      <div class="col-2"></div>
    </div>
  </div>
</div>
