<div class="popular_places_area">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="section_title text-center mb_70">
          <h3>SỬA THÔNG TIN KHÁCH HÀNG</h3>
          <p>Suffered alteration in some form, by injected humour or good day randomised booth anim 8-bit hella wolf
            moon beard words.</p>
        </div>
      </div>
    </div>


    <div class="px-5 row">
      <div class="col-2"></div>
      <div class="col-8">
        <form class="was-validated" action="/customer/save_edit" method="post">
          <!--        <div class="input-group mb-3">-->
          <!--          <span class="input-group-text" id="inputGroup-sizing-default">Sửa thông tin cho khách hàng có Id là -></span>-->
          <!--          <input type="hidden" class="form-control" aria-label="Sizing example input"-->
          <!--                 aria-describedby="inputGroup-sizing-default" required>-->
          <!--        </div>-->
          <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default10">Tên</span>
            <input type="text" class="form-control" aria-label="Sizing example input"
                   aria-describedby="inputGroup-sizing-default10" required>
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default1">Ngày sinh</span>
            <input type="text" class="form-control" aria-label="Sizing example input"
                   aria-describedby="inputGroup-sizing-default1" required>
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default3">Giới tính</span>
            <input type="text" class="form-control" aria-label="Sizing example input"
                   aria-describedby="inputGroup-sizing-default3" required>
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default2">CMND</span>
            <input type="text" class="form-control" aria-label="Sizing example input"
                   aria-describedby="inputGroup-sizing-default2" required>
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default4">Số ĐT</span>
            <input type="text" class="form-control" aria-label="Sizing example input"
                   aria-describedby="inputGroup-sizing-default4" required>
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default9">Email</span>
            <input type="text" class="form-control" aria-label="Sizing example input"
                   aria-describedby="inputGroup-sizing-default9" required>
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default6">Địa chỉ</span>
            <input type="text" class="form-control" aria-label="Sizing example input"
                   aria-describedby="inputGroup-sizing-default6" required>
          </div>
          <div class="input-group mb-3">
            <label for="exampleDataList1" class="form-label"><span class="input-group-text">Loại khách</span></label>
            <input class="form-control" list="datalistOptions1" id="exampleDataList1" placeholder="Gõ để tìm..." required>
            <datalist id="datalistOptions1">
              <option value="San Francisco">
              <option value="New York">
              <option value="Seattle">
              <option value="Los Angeles">
              <option value="Chicago">
            </datalist>
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-primary position-relative">
              Sửa thông tin khách hàng
              <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
                    <span class="visually-hidden">New alerts</span>
                    </span>
            </button>
          </div>
        </form>
      </div>
      <div class="col-2"></div>
    </div>
  </div>
</div>
