<!--<div class="bradcam_area bradcam_bg_3">-->
<!--  <div class="container">-->
<!--    <div class="row">-->
<!--      <div class="col-xl-12">-->
<!--        <div class="bradcam_text text-center">-->
<!--          <h3>TẠO HỢP ĐỒNG</h3>-->
<!--          <p>Suffered alteration in some form, by injected humour or good day randomised booth anim 8-bit hella wolf moon beard words.</p>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<div class="popular_places_area">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="section_title text-center mb_70">
          <h1 class="font-text text-danger">Tạo Hợp Đồng</h1>
          <p>Suffered alteration in some form, by injected humour or good day randomised booth anim 8-bit hella wolf moon beard words.</p>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-2"></div>
      <div class="p-5 col-8 background">
        <form class="was-validated" action="#" method="post">
          <!--                <div class="input-group mb-3">-->
          <!--                    <span class="input-group-text" id="inputGroup-sizing-default11">Code</span>-->
          <!--                    <input type="text" th:field="*{customerCode}" class="form-control" aria-label="Sizing example input"-->
          <!--                           aria-describedby="inputGroup-sizing-default11" required>-->
          <!--                    <span class="input-group-text text-danger" th:if="${#fields.hasErrors('customerCode')}"-->
          <!--                                              th:errors="*{customerCode}"></span>-->
          <!--                </div>-->
          <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default0">ID hợp đồng</span>
            <input type="text" class="form-control" aria-label="Sizing example input"
                   aria-describedby="inputGroup-sizing-default0" required>
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default1">Mã dịch vụ</span>
            <input type="text" class="form-control" aria-label="Sizing example input"
                   aria-describedby="inputGroup-sizing-default1" required>
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default32">Ngày bắt đầu</span>
            <input type="date" class="form-control" aria-label="Sizing example input"
                   aria-describedby="inputGroup-sizing-default1" required>
          </div>
          <!--                <div class="input-group mb-3">-->
          <!--                    <label for="exampleDataList" class="form-label"><span class="input-group-text">Diện tích</span></label>-->
          <!--                    <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Gõ để tìm..." required>-->
          <!--                    <datalist id="datalistOptions">-->
          <!--                        <option value="Nữ" text="Nữ"></option>-->
          <!--                        <option value="Nam" text="Nam"></option>-->
          <!--                    </datalist>-->
          <!--                </div>-->
          <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default3">Ngày kết thúc</span>
            <input type="date" class="form-control" aria-label="Sizing example input"
                   aria-describedby="inputGroup-sizing-default3" required>
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default4">Tiền đặt cọc</span>
            <input type="number" class="form-control" aria-label="Sizing example input"
                   aria-describedby="inputGroup-sizing-default4" required>
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default37">Tổng tiền</span>
            <input type="number" class="form-control" aria-label="Sizing example input"
                   aria-describedby="inputGroup-sizing-default7" required>
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default7">Nhân viên tạo hợp đồng</span>
            <input type="text" class="form-control" aria-label="Sizing example input"
                   aria-describedby="inputGroup-sizing-default7" required>
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default47">Hợp đồng cho khách hàng</span>
            <input type="text" class="form-control" aria-label="Sizing example input"
                   aria-describedby="inputGroup-sizing-default7" required>
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-primary position-relative">
              Tạo dịch vụ
              <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
                    <span class="visually-hidden">New alerts</span>
                    </span>
            </button>
          </div>
        </form>
      </div>
      <div class="col-2"></div>
    </div>
  </div>
</div>


