<div class="popular_places_area">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="section_title text-center mb_70">
          <h1 class="font-text text-danger">Tạo Hợp Đồng</h1>
          <p>Suffered alteration in some form, by injected humour or good day randomised booth anim 8-bit hella wolf moon beard words.</p>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-1"></div>
      <div class="p-5 col-10 background shadow-lg rounded">
        <form class="was-validated" [formGroup]="createContractForm" (ngSubmit)="create()" novalidate>
          <div class="input-group mb-3">
<!--            <span class="input-group-text" id="inputGroup-sizing-default0">ID hợp đồng</span>-->
            <input type="hidden" formControlName="id" class="form-control" aria-label="Sizing example input"
                   aria-describedby="inputGroup-sizing-default0" required>
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default32">Ngày bắt đầu</span>
            <input type="date" formControlName="startDay" class="form-control" aria-label="Sizing example input"
                   aria-describedby="inputGroup-sizing-default1" required>
            <span class="alert-danger input-group-text" *ngIf="createContractForm.controls.startDay.hasError('required')">Không được để trống</span>
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default3">Ngày kết thúc</span>
            <input type="date" formControlName="endDay" class="form-control" aria-label="Sizing example input"
                   aria-describedby="inputGroup-sizing-default3" required>
            <span class="alert-danger input-group-text" *ngIf="createContractForm.controls.endDay.hasError('required')">Không được để trống</span>
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default4">Tiền đặt cọc</span>
            <input type="text" formControlName="deposit" class="form-control" aria-label="Sizing example input"
                   aria-describedby="inputGroup-sizing-default4" required>
            <span class="alert-danger input-group-text"
                  *ngIf="createContractForm.controls.deposit.hasError('pattern')">Không nhập số âm và chữ</span>
            <span class="alert-danger input-group-text" *ngIf="createContractForm.controls.deposit.hasError('required')">Không được để trống</span>
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default37">Tổng tiền</span>
            <input type="text" formControlName="totalMoney" class="form-control" aria-label="Sizing example input"
                   aria-describedby="inputGroup-sizing-default7" required>
            <span class="alert-danger input-group-text"
                  *ngIf="createContractForm.controls.totalMoney.hasError('pattern')">Không nhập số âm và chữ</span>
            <span class="alert-danger input-group-text" *ngIf="createContractForm.controls.totalMoney.hasError('required')">Không được để trống</span>
          </div>
          <div class="input-group mb-3">
            <label class="form-label"><span class="input-group-text">Dịch vụ</span></label>
            <select class="form-select is-invalid" formControlName="facility" aria-describedby="validationServer04Feedback" required>
              <option selected value=""></option>
              <option *ngFor="let facility of facilities" [ngValue]="facility">{{facility.name}}</option>
            </select>
            <span class="alert-danger input-group-text span" *ngIf="createContractForm.controls.facility.hasError('required')">Không được để trống</span>
          </div>
          <div class="input-group mb-3">
            <label class="form-label"><span class="input-group-text">Hợp đồng cho khách hàng</span></label>
            <select class="form-select is-invalid" formControlName="customer" aria-describedby="validationServer04Feedback" required>
              <option selected value=""></option>
              <option *ngFor="let customer of customers" [ngValue]="customer">{{customer.name}}</option>
            </select>
            <span class="alert-danger input-group-text span" *ngIf="createContractForm.controls.customer.hasError('required')">Không được để trống</span>
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-primary position-relative">
              Tạo hợp đồng
              <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
                    <span class="visually-hidden">New alerts</span>
                    </span>
            </button>
          </div>
        </form>
      </div>
      <div class="col-1"></div>
    </div>
  </div>
</div>


