<h2 class="text-center">
  Todo App
</h2>
<a routerLink="/todo-create">Add</a><br><br>
<div class="col-md-8 offset-md-2">
<!--  <input type="text" class="form-control" [formControl]="content" (change)="change()">-->
  <ul *ngFor="let todo of todos; index as i">
    <li
      (click)="toggleTodo(i)"
      [class.complete]="todo.complete"
    >
      {{todo.content}}

    </li>
    <a [routerLink]="['/todo-edit',todo.id]">Edit </a>
    <a [routerLink]="['/todo-delete',todo.id]">Delete</a>
  </ul>
</div>
<!--<td><a [routerLink]="['/category/edit',category.id]">Edit</a></td>-->
<!--<td><a [routerLink]="['/category/delete',category.id]">Delete</a></td>-->
