<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="~{common/layout :: head_bootstrap}"></th:block>
    <style>
        .bg {
            background-color: #eaf8fa;
        }
    </style>
</head>
<body>
<th:block th:replace="~{common/layout :: head_top}"></th:block>
<th:block th:replace="~{common/layout :: head}"></th:block>
<div class="text-center pb-4">
    <h2 class="text-danger text-center pt-5 pb-2">DANH SÁCH KHÁCH HÀNG</h2>
    <!--    <button class="btn btn-warning"><a href="/create" class="text-decoration-none">Create Product</a></button>-->
    <p class="text-success pt-2" th:text="${mess}"></p>
</div>
<div class="container">
    <div class="row">
        <div class="col-5"></div>
        <div class="col-7">
            <form class="d-flex" action="/customer/list">
                <input class="form-control me-2" type="search" placeholder="Tên khách hàng" aria-label="Search"
                       name="search_name">
                <input class="form-control me-2" type="search" placeholder="Địa chỉ" aria-label="Search"
                       name="search_address">
                <select name="search_category" class="form-select me-2" aria-label="Default select example">
                    <option th:value="-1">Loại khách</option>
                    <option th:each="category : ${customerTypeList}" th:value="${category.customerTypeId}"
                            th:text="${category.customerTypeName}"></option>
                </select>
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
<!--        <div class="col-1"></div>-->
    </div>
</div>
<!--<div class="p-5">-->
<!--    <table class="table table-striped">-->
<!--        <thead>-->
<!--        <tr>-->
<!--            <th scope="col">#</th>-->
<!--            <th scope="col">ID</th>-->
<!--            <th scope="col">Customer Code</th>-->
<!--            <th scope="col">Customer Name</th>-->
<!--            <th scope="col">Customer Birthday</th>-->
<!--            <th scope="col">Customer Gender</th>-->
<!--            <th scope="col">Customer Id Card</th>-->
<!--            <th scope="col">Customer Phone</th>-->
<!--            <th scope="col">Customer Email</th>-->
<!--            <th scope="col">Customer Address</th>-->
<!--            <th scope="col">Customer Type</th>-->
<!--            <th scope="col">Option</th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--        <tr th:each="customer, hong : ${customerPage}">-->
<!--            <td th:text="${hong.count}"></td>-->
<!--            <td><a class="text-decoration-none" th:href="@{/customer/detail(id=${customer.customerId})}">-->
<!--                <th:block th:text="${customer.customerId}"></th:block>-->
<!--            </a></td>-->
<!--            <td th:text="${customer.customerCode}"></td>-->
<!--            <td><a class="text-decoration-none" th:href="@{/customer/detail(id=${customer.customerId})}">-->
<!--                <th:block th:text="${customer.customerName}"></th:block></a></td>-->
<!--            <td th:text="${customer.customerBirthday}"></td>-->
<!--            <td th:text="${customer.customerGender}"></td>-->
<!--            <td th:text="${customer.customerIdCard}"></td>-->
<!--            <td th:text="${customer.customerPhone}"></td>-->
<!--            <td th:text="${customer.customerEmail}"></td>-->
<!--            <td th:text="${customer.customerAddress}"></td>-->
<!--            <td th:text="${customer.customerType.customerTypeName}"></td>-->
<!--            <td>-->
<!--                <button type="button" th:attr="onclick=|deleteCustomer(${customer.customerId},'${customer.customerName}')|"-->
<!--                        class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop">-->
<!--                    Delete-->
<!--                </button>-->
<!--                <button class="btn btn-warning"><a class="text-decoration-none" th:href="@{/customer/edit(id=${customer.customerId})}">Edit</a></button>-->
<!--            </td>-->
<!--        </tr>-->
<!--        </tbody>-->
<!--    </table>-->
<!--</div>-->


<div class="container">
    <div class="row">
        <div class="card my-5 me-2 col-4" th:each="customer, hong : ${customerPage}" style="width: 32%">
            <div class="row bg">
                <div class="col-md-4">
                    <img src="https://www.clipartmax.com/png/middle/71-717812_girl-person-woman-people-icon-profile-woman-icon.png  " class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title"><a class="text-decoration-none" th:href="@{/customer/detail(id=${customer.customerId})}">
                            <th:block th:text="${customer.customerName}"></th:block></a></h5>
                        <p class="card-text" th:text="${'Code: '+customer.customerCode}"></p>
                        <p class="card-text" th:text="${'Ngày sinh: '+customer.customerBirthday}"></p>
                        <p class="card-text" th:text="${'CMND: '+customer.customerIdCard}"></p>
                        <p class="card-text" th:text="${'Giới tính: '+customer.customerGender}"></p>
                        <p class="card-text" th:text="${'Số Đt: '+customer.customerPhone}"></p>
                        <p class="card-text" th:text="${'Email: '+customer.customerEmail}"></p>
                        <p class="card-text" th:text="${'Địa chỉ: '+customer.customerAddress}"></p>
                        <hr>
                        <p class="card-text"><small class="text-muted" th:text="${'Loại khách: '+customer.customerType.customerTypeName}"></small></p>
                        <hr>
                        <button type="button" th:attr="onclick=|deleteCustomer(${customer.customerId},'${customer.customerName}')|"
                                class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                            Xóa
                        </button>
                        <button class="btn btn-warning"><a class="text-decoration-none" th:href="@{/customer/edit(id=${customer.customerId})}">Sửa</a></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-11">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
            <li class="page-item">
                <a class="page-link" th:if="${customerPage.hasPrevious()}"
                   th:href="@{/customer/list/(page=${customerPage.number - 1}, key1=${searchName}, key2=${searchAddress}, key3=${searchCategory})}">Trang trước</a>
            </li>
            <li class="page-item"><a class="page-link"><span th:text="${customerPage.number + 1}"></span></a></li>
            <li class="page-item page-link">/</li>
            <li class="page-item"><a class="page-link"><span th:text="${customerPage.totalPages}"></span></a></li>
            <li class="page-item">
                <a class="page-link" th:if="${customerPage.hasNext()}"
                   th:href="@{/customer/list/(page=${customerPage.number + 1}, key1=${searchName}, key2=${searchAddress}, key3=${searchCategory})}">Trang sau</a>
            </li>
        </ul>
    </nav>
</div>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Xóa khách hàng</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Bạn có chắc muốn xóa khách hàng có tên ->
                    <span class="text-danger font-weight-bold" id="nameDelete"></span>
                </p>
            </div>
            <div class="modal-footer">
                <form th:action="@{/customer/delete}">
<!--                    <input type="hidden" name="action" value="employee/delete">-->
                    <input type="hidden" name="id" id="idDelete">
                    <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Đóng</button>
                    <button type="submit" class="btn btn-danger">Xóa</button>
                </form>
            </div>
        </div>
    </div>
</div>
<th:block th:replace="~{common/layout :: foot}"></th:block>
<th:block th:replace="~{common/layout :: foot_bootstrap}"></th:block>
</body>
</html>
<script>
    function deleteCustomer(id, name) {
        document.getElementById("idDelete").value = id;
        document.getElementById("nameDelete").innerText = name;
    }
</script>



<!--@Transactional-->
<!--@Modifying-->
<!--@Query(value = "update employee set flag = 0 where employee_id = :idDelete",-->
<!--nativeQuery = true)-->
<!--void softDelete(@Param("idDelete") Integer id);-->