<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Logout</title>
    <th:block th:replace="~{common/layout :: head_bootstrap}"></th:block>

</head>

<body>
<th:block th:replace="~{common/layout :: head}"></th:block>

<br><br><br>

<h1 class="text-center">Đăng xuất thành công!</h1>
<br>
<!--<h1 class="text-center">-&#45;&#45; See you again <th:block th:text="${name}"></th:block> -&#45;&#45;</h1>-->
<h1 class="text-center">--- Hẹn gặp lại ---</h1>




<th:block th:replace="~{common/layout :: foot_bootstrap}"></th:block>

</body>
</html>