.font-text {
  /*font-family: 'Dancing Script', cursive;*/
  /*font-family: 'Lobster', cursive;*/
  font-family: 'Pacifico', cursive;
}

.background {
  background: #987DDB;
}

.span {
  height: 42px;
}
