<div class="popular_places_area">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="section_title text-center mb_70">
          <h1 class="font-text text-danger">Tạo Dịch Vụ</h1>
          <p>Suffered alteration in some form, by injected humour or good day randomised booth anim 8-bit hella wolf
            moon beard words.</p>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-1"></div>
      <div class="col-10 background p-5 shadow-lg rounded">
        <form class="was-validated" [formGroup]="createFacilityForm" (ngSubmit)="console()">
          <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default11">Id dịch vụ</span>
            <input type="text" formControlName="id" class="form-control" aria-label="Sizing example input"
                   aria-describedby="inputGroup-sizing-default11" required>
            <span class="alert-danger input-group-text" *ngIf="createFacilityForm.controls.id.hasError('required')">Không được để trống</span>
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default1">Tên dịch vụ</span>
            <input type="text" formControlName="name" class="form-control" aria-label="Sizing example input"
                   aria-describedby="inputGroup-sizing-default1" required>
            <span class="alert-danger input-group-text"
                  *ngIf="createFacilityForm.controls.name.hasError('pattern')">Sai format tên</span>
            <span class="alert-danger input-group-text" *ngIf="createFacilityForm.controls.name.hasError('required')">Không được để trống</span>
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default32">Diện tích</span>
            <input type="text" formControlName="area" class="form-control" aria-label="Sizing example input"
                   aria-describedby="inputGroup-sizing-default1" required>
            <span class="alert-danger input-group-text"
                  *ngIf="createFacilityForm.controls.area.hasError('pattern')">Không nhập số âm và chữ</span>
            <span class="alert-danger input-group-text" *ngIf="createFacilityForm.controls.area.hasError('required')">Không được để trống</span>
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default3">Phí thuê</span>
            <input type="text" formControlName="cost" class="form-control" aria-label="Sizing example input"
                   aria-describedby="inputGroup-sizing-default3" required>
            <span class="alert-danger input-group-text"
                  *ngIf="createFacilityForm.controls.cost.hasError('pattern')">Không nhập số âm và chữ</span>
            <span class="alert-danger input-group-text" *ngIf="createFacilityForm.controls.cost.hasError('required')">Không được để trống</span>
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default4">Số người max</span>
            <input type="text" formControlName="maxPeople"  class="form-control" aria-label="Sizing example input"
                   aria-describedby="inputGroup-sizing-default4" required>
            <span class="alert-danger input-group-text"
                  *ngIf="createFacilityForm.controls.maxPeople.hasError('pattern')">Không nhập số âm và chữ</span>
            <span class="alert-danger input-group-text" *ngIf="createFacilityForm.controls.maxPeople.hasError('required')">Không được để trống</span>
          </div>
          <div class="input-group mb-3">
            <label for="validationServer4" class="form-label"><span class="input-group-text">Loại dịch vụ</span></label>
            <select class="form-select is-invalid" formControlName="type" id="validationServer4" aria-describedby="validationServer04Feedback"
                    required>
              <option selected value=""></option>
              <option [ngValue]="'Villa'">Villa</option>
              <option [ngValue]="'House'">House</option>
              <option [ngValue]="'Room'">Room</option>
            </select>
            <span class="alert-danger input-group-text span" *ngIf="createFacilityForm.controls.type.hasError('required')">Không được để trống</span>
          </div>
          <div class="input-group mb-3">
            <label for="validationServer14" class="form-label"><span class="input-group-text">Kiểu thuê</span></label>
            <select class="form-select is-invalid" formControlName="rentType" id="validationServer14" aria-describedby="validationServer04Feedback"
                    required>
              <option selected value=""></option>
              <option [ngValue]="'Year'">Year</option>
              <option [ngValue]="'Month'">Month</option>
              <option [ngValue]="'Day'">Day</option>
            </select>
            <span class="alert-danger input-group-text span" *ngIf="createFacilityForm.controls.rentType.hasError('required')">Không được để trống</span>
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default47">Tiêu chuẩn</span>
            <input type="text" formControlName="standardRoom" class="form-control" aria-label="Sizing example input"
                   aria-describedby="inputGroup-sizing-default7" required>
            <span class="alert-danger input-group-text"
                  *ngIf="createFacilityForm.controls.standardRoom.hasError('pattern')">Không nhập số âm và chữ</span>
            <span class="alert-danger input-group-text" *ngIf="createFacilityForm.controls.standardRoom.hasError('required')">Không được để trống</span>
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default37">Tiện ích khác</span>
            <input type="text" formControlName="descriptionOtherConvenience" class="form-control" aria-label="Sizing example input"
                   aria-describedby="inputGroup-sizing-default7" required>
            <span class="alert-danger input-group-text" *ngIf="createFacilityForm.controls.descriptionOtherConvenience.hasError('required')">Không được để trống</span>
          </div>
<!--          <div class="input-group mb-3">-->
<!--            <span class="input-group-text" id="inputGroup-sizing-default27">Diện tích hồ bơi</span>-->
<!--            <input type="text" class="form-control" aria-label="Sizing example input"-->
<!--                   aria-describedby="inputGroup-sizing-default7" required>-->
<!--          </div>-->
<!--          <div class="input-group mb-3">-->
<!--            <span class="input-group-text" id="inputGroup-sizing-default17">Số tầng</span>-->
<!--            <input type="text" class="form-control" aria-label="Sizing example input"-->
<!--                   aria-describedby="inputGroup-sizing-default7" required>-->
<!--          </div>-->
          <div class="text-center">
            <button type="submit" class="btn btn-primary position-relative">
              Tạo dịch vụ
              <span
                class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
                    <span class="visually-hidden">New alerts</span>
                    </span>
            </button>
          </div>
        </form>
      </div>
      <div class="col-1"></div>
    </div>
  </div>
</div>
