<!--&lt;!&ndash;<app-header></app-header>&ndash;&gt;-->
<!--&lt;!&ndash;<app-footer></app-footer>&ndash;&gt;-->
<!--<app-list-customer></app-list-customer>-->
<!--&lt;!&ndash;<app-edit-customer></app-edit-customer>&ndash;&gt;-->
<!--&lt;!&ndash;<app-create-customer></app-create-customer>&ndash;&gt;-->
<!--&lt;!&ndash;<app-list-facility></app-list-facility>&ndash;&gt;-->
<!--&lt;!&ndash;<app-edit-facility></app-edit-facility>&ndash;&gt;-->
<!--&lt;!&ndash;<app-create-facility></app-create-facility>&ndash;&gt;-->
<!--&lt;!&ndash;<app-list-contract></app-list-contract>&ndash;&gt;-->
<!--&lt;!&ndash;<app-create-contract></app-create-contract>&ndash;&gt;-->
<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>

