<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>LIST EMPLOYEE</title>
    <th:block th:replace="~{common/layout :: head_bootstrap}"></th:block>
    <style>
        .bg {
            background-color: beige;
        }
    </style>
</head>
<body>
<th:block th:replace="~{common/layout :: head_top}"></th:block>
<th:block th:replace="~{common/layout :: head}"></th:block>
<div class="text-center pb-4">
    <h2 class="text-danger text-center pt-5 pb-2">DANH SÁCH NHÂN VIÊN</h2>
    <!--    <button class="btn btn-warning"><a href="/create" class="text-decoration-none">Create Product</a></button>-->
    <p class="text-success pt-2" th:text="${mess}"></p>
</div>

<div class="container">
    <div class="row">
        <div class="col-5"></div>
        <div class="col-7">
            <form class="d-flex" action="/employee/list">
                <input class="form-control me-2" type="search" placeholder="Tên nhân viên" aria-label="Search"
                       name="search_name">
                <input class="form-control me-2" type="search" placeholder="Địa chỉ nhân viên" aria-label="Search"
                       name="search_address">
                <select name="search_category" class="form-select me-2" aria-label="Default select example">
                    <option th:value="-1">Bộ phận</option>
                    <option th:each="category : ${divisionList}" th:value="${category.divisionId}"
                            th:text="${category.divisionName}"></option>
                </select>
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
<!--        <div class="col-1"></div>-->
    </div>
</div>
<!--<div class="p-5">-->
<!--    <table class="table table-striped">-->
<!--        <thead>-->
<!--        <tr>-->
<!--            <th scope="col">#</th>-->
<!--            <th scope="col">ID</th>-->
<!--            <th scope="col">Employee Name</th>-->
<!--            <th scope="col">Employee Birthday</th>-->
<!--            <th scope="col">Employee Id Card</th>-->
<!--            <th scope="col">Employee Salary</th>-->
<!--            <th scope="col">Employee Phone</th>-->
<!--            <th scope="col">Employee Email</th>-->
<!--            <th scope="col">Employee Address</th>-->
<!--            <th scope="col">Position</th>-->
<!--            <th scope="col">Education Degree</th>-->
<!--            <th scope="col">Division</th>-->
<!--            <th scope="col">Option</th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--        <tr th:each="employee, hong : ${employeePage}">-->
<!--            <td th:text="${hong.count}"></td>-->
<!--            <td><a class="text-decoration-none" th:href="@{/employee/detail(id=${employee.employeeId})}">-->
<!--                <th:block th:text="${employee.employeeId}"></th:block>-->
<!--            </a></td>-->
<!--            <td><a class="text-decoration-none" th:href="@{/employee/detail(id=${employee.employeeId})}">-->
<!--                <th:block th:text="${employee.employeeName}"></th:block></a></td>-->
<!--            <td th:text="${employee.employeeBirthday}"></td>-->
<!--            <td th:text="${employee.employeeIdCard}"></td>-->
<!--            <td th:text="${employee.employeeSalary}"></td>-->
<!--            <td th:text="${employee.employeePhone}"></td>-->
<!--            <td th:text="${employee.employeeEmail}"></td>-->
<!--            <td th:text="${employee.employeeAddress}"></td>-->
<!--            <td th:text="${employee.position.positionName}"></td>-->
<!--            <td th:text="${employee.educationDegree.educationDegreeName}"></td>-->
<!--            <td th:text="${employee.division.divisionName}"></td>-->
<!--            <td>-->
<!--                <button type="button" th:attr="onclick=|deleteProduct(${employee.employeeId},'${employee.employeeName}')|"-->
<!--                        class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop">-->
<!--                    Delete-->
<!--                </button>-->
<!--                <button class="btn btn-warning"><a class="text-decoration-none" th:href="@{/employee/edit(id=${employee.employeeId})}">Edit</a></button>-->
<!--            </td>-->
<!--        </tr>-->
<!--        </tbody>-->
<!--    </table>-->
<!--</div>-->

<div class="container">
    <div class="row">
        <div class="card my-5 me-2 col-4" th:each="employee, hong : ${employeePage}" style="width: 32%">
            <div class="row bg">
                <div class="col-md-4">
                    <img src="https://www.clipartmax.com/png/middle/71-717812_girl-person-woman-people-icon-profile-woman-icon.png  " class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title"><a class="text-decoration-none" th:href="@{/employee/detail(id=${employee.employeeId})}">
                            <th:block th:text="${employee.employeeName}"></th:block></a></h5>
                        <p class="card-text" th:text="${'Ngày sinh: '+employee.employeeBirthday}"></p>
                        <p class="card-text" th:text="${'CMND: '+employee.employeeIdCard}"></p>
                        <p class="card-text" th:text="${'Lương: '+employee.employeeSalary}"></p>
                        <p class="card-text" th:text="${'Số dt: '+employee.employeePhone}"></p>
                        <p class="card-text" th:text="${'Email: '+employee.employeeEmail}"></p>
                        <p class="card-text" th:text="${'Địa chỉ: '+employee.employeeAddress}"></p>
                        <hr>
                        <p class="card-text"><small class="text-muted" th:text="${employee.position.positionName+', '+employee.educationDegree.educationDegreeName+', '+employee.division.divisionName}"></small></p>
                        <hr>
                        <button type="button" th:attr="onclick=|deleteProduct(${employee.employeeId},'${employee.employeeName}')|"
                                class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                            Xóa
                        </button>
                        <button class="btn btn-warning"><a class="text-decoration-none" th:href="@{/employee/edit(id=${employee.employeeId})}">Sửa</a></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="col-11">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
            <li class="page-item">
                <a class="page-link" th:if="${employeePage.hasPrevious()}"
                   th:href="@{/employee/list/(page=${employeePage.number - 1}, key1=${searchName}, key2=${searchAddress}, key3=${searchCategory})}">Trang trước</a>
            </li>
            <li class="page-item"><a class="page-link"><span th:text="${employeePage.number + 1}"></span></a></li>
            <li class="page-item page-link">/</li>
            <li class="page-item"><a class="page-link"><span th:text="${employeePage.totalPages}"></span></a></li>
            <li class="page-item">
                <a class="page-link" th:if="${employeePage.hasNext()}"
                   th:href="@{/employee/list/(page=${employeePage.number + 1}, key1=${searchName}, key2=${searchAddress}, key3=${searchCategory})}">Trang sau</a>
            </li>
        </ul>
    </nav>
</div>
<!--</div>-->

<!--&lt;!&ndash;    <div class="col-8"></div>&ndash;&gt;key3=${searchCategory}-->
<!--    <div class="col-4">-->
<!--        <a th:if="${productList.hasPrevious()}" th:href="@{/(page=${productList.number - 1}, key1=${searchName}, key2=${searchDetail}, key3=${searchCategory})}">Previous</a>-->
<!--        <span th:text="${productList.number + 1}"></span>-->
<!--        /-->
<!--        <span th:text="${productList.totalPages}"></span>-->
<!--        <a th:if="${productList.hasNext()}" th:href="@{/(page=${productList.number + 1}, key1=${searchName}, key2=${searchDetail}, key3=${searchCategory})}">Next</a>-->
<!--    </div>-->



<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Xóa nhân viên</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Bạn có chắc muốn xóa nhân viên có tên ->
                    <span class="text-danger font-weight-bold" id="nameDelete"></span>
                </p>
            </div>
            <div class="modal-footer">
                <form th:action="@{/employee/delete}">
<!--                    <input type="hidden" name="action" value="employee/delete">-->
                    <input type="hidden" name="id" id="idDelete">
                    <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Đóng</button>
                    <button type="submit" class="btn btn-danger">Xóa</button>
                </form>
            </div>
        </div>
    </div>
</div>
<th:block th:replace="~{common/layout :: foot}"></th:block>
<th:block th:replace="~{common/layout :: foot_bootstrap}"></th:block>

</body>
</html>
<script>
    function deleteProduct(id, name) {
        document.getElementById("idDelete").value = id;
        document.getElementById("nameDelete").innerText = name;
    }
</script>