<div class="popular_places_area">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="section_title text-center mb_70">
          <h3>DANH SÁCH DỊCH VỤ</h3>
          <p>Suffered alteration in some form, by injected humour or good day randomised booth anim 8-bit hella wolf
            moon beard words.</p>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-lg-4 col-md-6" *ngFor="let facility of facilitys">
        <div class="single_place">
          <div class="thumb">
            <img [src]="facility.image" >
            <a class="text-decoration-none" href="#" class="prise text-decoration-none">{{facility.cost | currency: "VND"}}</a>
          </div>
          <div class="place_info">
            <div class="row">
              <div class="col-10">
                <h5 class="card-title"><a class="text-decoration-none" href="destination_details.html"><h3>{{facility.name}}</h3></a></h5>
              </div>
              <div class=" col-2 btn-group dropstart">
                <div class="dropdown-toggle" data-bs-toggle="dropdown">
                  <i class="bi bi-patch-plus-fill"></i>
                </div>
                <ul class="dropdown-menu" style="width: 10px">
                  <li>
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                            data-bs-target="#staticBackdrop">
                      <i class="bi bi-trash3-fill"></i>
                    </button>
                  </li>
                  <li>
                    <button class="btn btn-warning"><a class="text-decoration-none"
                                                       href="@{/customer/edit(id=${customer.customerId})}"><i
                      class="bi bi-wrench-adjustable"></i></a></button>
                  </li>
                </ul>
              </div>
            </div>
            <!--            <a class="text-decoration-none" href="destination_details.html"><h3>California</h3></a>-->
            <p>{{facility.area}} m2</p>
            <p>{{facility.type}}</p>
            <p>{{facility.rentType}}</p>
            <p>{{facility.descriptionOtherConvenience}}</p>
            <div class="rating_days d-flex justify-content-between">
                <span class="d-flex justify-content-center align-items-center">
<!--                  <p *ngFor="let i of facility.standardRoom">-->
<!--                    <i class="fa fa-star"></i>-->
<!--                  </p>-->
                     <i class="fa fa-star"></i>
                     <i class="fa fa-star"></i>
                     <i class="fa fa-star"></i>
                     <i class="fa fa-star"></i>
                     <i class="fa fa-star"></i>
                     <a class="text-decoration-none" href="#">({{facility.review}} review)</a>
                </span>
              <div class="days">
                <i class="fa fa-clock-o"></i>
                <a class="text-decoration-none" href="#">5 Days</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<!--      <div class="row">-->
<!--        <div class="col-10"><h5 class="card-title"><a class="text-decoration-none" href="destination_details.html"><h3>California</h3></a></h5></div>-->
<!--        <div class=" col-2 btn-group dropend">-->
<!--          <div class="dropdown-toggle" data-bs-toggle="dropdown">-->
<!--            <i class="bi bi-patch-plus-fill"></i>-->
<!--          </div>-->
<!--          <ul class="dropdown-menu" style="width: 10px">-->
<!--            <li>-->
<!--              <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop">-->
<!--                Xóa-->
<!--              </button>-->
<!--            </li>-->
<!--            <li>-->
<!--              <button class="btn btn-warning"><a class="text-decoration-none" href="@{/customer/edit(id=${customer.customerId})}">Sửa</a></button>-->
<!--            </li>-->
<!--          </ul>-->
<!--        </div>-->
<!--      </div>-->


<!--      <div class="col-lg-4 col-md-6">-->
<!--        <div class="single_place">-->
<!--          <div class="thumb">-->
<!--            <img src="assets/img/place/2.png" alt="">-->
<!--            <a class="text-decoration-none" href="#" class="prise text-decoration-none">$500</a>-->
<!--          </div>-->
<!--          <div class="place_info">-->
<!--            <a class="text-decoration-none" href="destination_details.html"><h3>Korola Megna</h3></a>-->
<!--            <p>United State of America</p>-->
<!--            <div class="rating_days d-flex justify-content-between">-->
<!--                                <span class="d-flex justify-content-center align-items-center">-->
<!--                                     <i class="fa fa-star"></i>-->
<!--                                     <i class="fa fa-star"></i>-->
<!--                                     <i class="fa fa-star"></i>-->
<!--                                     <i class="fa fa-star"></i>-->
<!--                                     <i class="fa fa-star"></i>-->
<!--                                     <a class="text-decoration-none" href="#">(20 Review)</a>-->
<!--                                </span>-->
<!--              <div class="days">-->
<!--                <i class="fa fa-clock-o"></i>-->
<!--                <a class="text-decoration-none" href="#">5 Days</a>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->


<!--      <div class="col-lg-4 col-md-6">-->
<!--        <div class="single_place">-->
<!--          <div class="thumb">-->
<!--            <img src="assets/img/place/3.png" alt="">-->
<!--            <a class="text-decoration-none" href="#" class="prise text-decoration-none">$500</a>-->
<!--          </div>-->
<!--          <div class="place_info">-->
<!--            <a class="text-decoration-none" href="destination_details.html"><h3>London</h3></a>-->
<!--            <p>United State of America</p>-->
<!--            <div class="rating_days d-flex justify-content-between">-->
<!--                                <span class="d-flex justify-content-center align-items-center">-->
<!--                                     <i class="fa fa-star"></i>-->
<!--                                     <i class="fa fa-star"></i>-->
<!--                                     <i class="fa fa-star"></i>-->
<!--                                     <i class="fa fa-star"></i>-->
<!--                                     <i class="fa fa-star"></i>-->
<!--                                     <a class="text-decoration-none" href="#">(20 Review)</a>-->
<!--                                </span>-->
<!--              <div class="days">-->
<!--                <i class="fa fa-clock-o"></i>-->
<!--                <a class="text-decoration-none" href="#">5 Days</a>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-lg-4 col-md-6">-->
<!--        <div class="single_place">-->
<!--          <div class="thumb">-->
<!--            <img src="assets/img/place/4.png" alt="">-->
<!--            <a class="text-decoration-none" href="#" class="prise text-decoration-none">$500</a>-->
<!--          </div>-->
<!--          <div class="place_info">-->
<!--            <a class="text-decoration-none" href="destination_details.html"><h3>Miami Beach</h3></a>-->
<!--            <p>United State of America</p>-->
<!--            <div class="rating_days d-flex justify-content-between">-->
<!--                                <span class="d-flex justify-content-center align-items-center">-->
<!--                                     <i class="fa fa-star"></i>-->
<!--                                     <i class="fa fa-star"></i>-->
<!--                                     <i class="fa fa-star"></i>-->
<!--                                     <i class="fa fa-star"></i>-->
<!--                                     <i class="fa fa-star"></i>-->
<!--                                     <a class="text-decoration-none" href="#">(20 Review)</a>-->
<!--                                </span>-->
<!--              <div class="days">-->
<!--                <i class="fa fa-clock-o"></i>-->
<!--                <a class="text-decoration-none" href="#">5 Days</a>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-lg-4 col-md-6">-->
<!--        <div class="single_place">-->
<!--          <div class="thumb">-->
<!--            <img src="assets/img/place/5.png" alt="">-->
<!--            <a class="text-decoration-none" href="#" class="prise text-decoration-none">$500</a>-->
<!--          </div>-->
<!--          <div class="place_info">-->
<!--            <a class="text-decoration-none" href="destination_details.html"><h3>California</h3></a>-->
<!--            <p>United State of America</p>-->
<!--            <div class="rating_days d-flex justify-content-between">-->
<!--                                <span class="d-flex justify-content-center align-items-center">-->
<!--                                     <i class="fa fa-star"></i>-->
<!--                                     <i class="fa fa-star"></i>-->
<!--                                     <i class="fa fa-star"></i>-->
<!--                                     <i class="fa fa-star"></i>-->
<!--                                     <i class="fa fa-star"></i>-->
<!--                                     <a class="text-decoration-none" href="#">(20 Review)</a>-->
<!--                                </span>-->
<!--              <div class="days">-->
<!--                <i class="fa fa-clock-o"></i>-->
<!--                <a class="text-decoration-none" href="#">5 Days</a>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-lg-4 col-md-6">-->
<!--        <div class="single_place">-->
<!--          <div class="thumb">-->
<!--            <img src="assets/img/place/6.png" alt="">-->
<!--            <a class="text-decoration-none" href="#" class="prise text-decoration-none">$500</a>-->
<!--          </div>-->
<!--          <div class="place_info">-->
<!--            <a class="text-decoration-none" href="destination_details.html"><h3>Saintmartine Iceland</h3></a>-->
<!--            <p>United State of America</p>-->
<!--            <div class="rating_days d-flex justify-content-between">-->
<!--                                <span class="d-flex justify-content-center align-items-center">-->
<!--                                     <i class="fa fa-star"></i>-->
<!--                                     <i class="fa fa-star"></i>-->
<!--                                     <i class="fa fa-star"></i>-->
<!--                                     <i class="fa fa-star"></i>-->
<!--                                     <i class="fa fa-star"></i>-->
<!--                                     <a class="text-decoration-none" href="#">(20 Review)</a>-->
<!--                                </span>-->
<!--              <div class="days">-->
<!--                <i class="fa fa-clock-o"></i>-->
<!--                <a class="text-decoration-none" href="#">5 Days</a>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="row">-->
<!--      <div class="col-lg-12">-->
<!--        <div class="more_place_btn text-center">-->
<!--          <a class="boxed-btn4" href="#">More Places</a>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
