<div class="popular_places_area">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="section_title text-center mb_70">
          <h1 class="font-text text-danger">Danh Sách Khách Hàng</h1>
          <p>Suffered alteration in some form, by injected humour or good day randomised booth anim 8-bit hella wolf
            moon beard words.</p>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="row">
        <div class="col-5"></div>
        <div class="pb-3 col-7">
          <form class="d-flex" [formGroup]="searchNameForm" (ngSubmit)="search()">
            <input class="form-control me-2" type="text" formControlName="searchName"  placeholder="Tên" aria-label="Search">
            <input class="form-control me-2" type="text" formControlName="searchAddress" placeholder="Địa chỉ" aria-label="Search">
            <select class="form-select me-2" formControlName="searchType">
              <option value="" selected>Loại khách hàng</option>
              <option value="Diamond">Diamond</option>
              <option value="Platinium">Platinium</option>
              <option value="Gold">Gold</option>
              <option value="Silver">Silver</option>
              <option value="Member">Member</option>
            </select>
            <button class="btn btn-outline-success" type="submit">Tìm kiếm</button>
          </form>
        </div>
      </div>

      <div class="card my-3 me-2 col-4" *ngFor="let customer of customers|paginate : { itemsPerPage: 3, currentPage: p }" style="width: 32%">
        <div class="row bg">
          <div class="col-md-4">
            <img [src]="customer.img" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <div class="row">
                <div class="col-10"><h6 class="card-title font text-danger"><a class="text-decoration-none" href="#">{{customer.name}}</a></h6>
                </div>
                <div class=" col-2 btn-group dropend">
                  <div class="dropdown-toggle" data-bs-toggle="dropdown">
                    <i class="bi bi-patch-plus-fill"></i>
                  </div>
                  <ul class="dropdown-menu" style="width: 10px">
                    <li>
                      <button class="btn btn-warning"><a class="text-decoration-none" [routerLink]="['/customer/edit',customer.id]">
                        <i class="bi bi-wrench-adjustable"></i></a></button>
                    </li>
                    <li>
<!--                      <button class="btn btn-primary mt-2"><i class="fa-solid fa-circle-info"></i></button>-->
                      <button class="btn btn-primary mt-2"><a class="text-dark" [routerLink]="['/customer/detail',customer.id]"><i class="fa-solid fa-circle-info"></i></a></button>
                    </li>
                    <li>
                      <button type="button" class="btn btn-danger mt-2" (click)="info(customer.id, customer.name)" data-bs-toggle="modal"
                              data-bs-target="#staticBackdrop">
                        <i class="bi bi-trash3-fill"></i>
                      </button>
                    </li>
                  </ul>
                </div>
              </div>

<!--              <p class="card-text mt-2"><i class="bi bi-gender-trans"></i>  {{customer.gender}}</p>-->
              <p class="card-text mt-2"><i class="fa-solid fa-circle-user"></i>  {{customer.code}}</p>
              <p class="card-text"><i class="fa-solid fa-cake-candles"></i>  {{customer.dateOfBirth | date: "dd-MM-yyyy"}}</p>
<!--              <p class="card-text"><i class="fa-solid fa-address-card"></i>  {{customer.idCardNumber}}</p>-->
<!--              <p class="card-text"><i class="fa-solid fa-mobile-screen-button"></i>  {{customer.numberPhone}}</p>-->
              <p class="card-text"><i class="fa-solid fa-envelopes-bulk"></i>  {{customer.email}}</p>
              <p class="card-text"><i class="bi bi-house"></i>  {{customer.address}}</p>
              <hr>
              <p class="card-text"><i class="fa-brands fa-elementor"></i><small class="text-muted">  {{customer.type}}</small></p>
            </div>
          </div>
        </div>
      </div>
      <div class="pt-4" style="justify-content: space-around;display: flex;">
        <pagination-controls (pageChange)="p = $event" class=" page-item"></pagination-controls>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Xóa khách hàng</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Sẽ không thể hoàn tác nếu bạn xóa
        {{idDelete}}, {{nameDelete}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
        <button type="button" (click)="delete(idDelete)" data-bs-dismiss="modal" class="btn btn-primary">Xóa</button>
      </div>
    </div>
  </div>
</div>


<!--http://localhost:3000/customers?name_like=Mơ&type_like=Silver-->
